/*                   Created by Zalán Valkó
                     Last edit: 2018.02.19
*/

table{
  border-radius: 3px;
  border: solid #767B91 2px;
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
}

tr{
  border-radius: 3px;
}
td{
  border-radius: 3px;
  border: solid #767B91 1px;
  width: 40px;
  height: 40px;
  padding: 0px;
  background-color: #E1E5EE;
  text-align: center;
  vertical-align: middle;
}
td:hover{
  background-color: #c2c7d6;
}

.divider{
    background-color: white;
    border: none;
    margin: 0px;
    padding: 2px;
    height: 4px;
    width: 4px;
}
.divider:hover{
  background-color: white;
}

#button_container{
  border: none;
  background-color: none;
}

input{
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(0,0,0,0);
    text-align: center;
}

.buttons{
  border: none;
  background-color: white;
}
.buttons:hover{
  background-color: white;
}

.box_border{
    border-bottom: solid #767B91 2px;
}

h1{
  text-align: center;
}
