/*                    Created & maintained by Zalán Valkó
                         Last modification: 2018.02.21
*/

@charset "UTF-8";

body{
  background-color: #F5F5F5;
}

h1{
  font-family: 'Montserrat', sans-serif;
  color: #FF533D;
  text-align: center;
  font-size: 40px;
}

table{
  border-radius: 3px;
  border: solid #0F1626 2px;
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
}

tr{
  border-radius: 3px;
}
td{
  border-radius: 3px;
  border: solid #6B7A8F 1px;
  width: 40px;
  height: 40px;
  padding: 0px;
  background-color: #E1E5EE;
  text-align: center;
  vertical-align: middle;
}
td:hover{
  background-color: #c2c7d6;
}

.divider{
    background-color: #F5F5F5;
    border: none;
    margin: 0px;
    padding: 2px;
    height: 4px;
    width: 4px;
}
.divider:hover{
  background-color: #F5F5F5;
}

#button_container{
  border: none;
  background-color: none;
}

input{
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(0,0,0,0);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
	color: black;
}

.buttons{
  border: none;
  background-color: #F5F5F5;
}
.buttons:hover{
  background-color: #F5F5F5;
}

.box_border{
    border-bottom: solid #A9A9A9 2px;
}
