//--------------------
//    Basic resets
//--------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  text-decoration: none;
  z-index: 0;
}

ul {
  list-style: none;
}

input, textarea, button {
  outline: none;
}

th {
  text-align: inherit;
}
